tensorflow==2.16.1 
protobuf==4.25.3 
mediapipe==0.10.21
keras==3.3.3 
ml_dtypes==0.3.1 
jax==0.4.26 
jaxlib==0.4.26 
tf_keras==2.16.0

# Run the following after installing the above packages:
# pip install --no-cache-dir "keras>=3.14.0" "ml-dtypes>=0.4.0"
# to run program: src\ASL_visual_recognition\ASL_visual_code\model_test.py
